/******************* Base settings *******************/
html, body {
  height: 100%;
}
body {
  font-size: 14px;
  padding: 0 0 0 0;
}
input:focus,
button:focus,
textarea:focus {
  outline: none;
}

/******************* Header *******************/
header {
  background-image: url(../img/main-background.jpg);
  background-size: cover;
}

/* Main-list */
.main_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
}
.horizontal_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 585px;
  padding-right: 15px;
}
.personal_сabinet, .currency, .language {
  padding-top: 40px;
}
.header_contacts {
  padding-top: 35px;
}
.hamburger_menu {
  padding-top: 38px;
}
.hamburger_menu a {
  text-decoration: none;
  font-size: 18px;
  color: #0d3351;
}
.icon--1--2 {
  font-size: 5px;
}
.personal_сabinet a, .currency a, .language a {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #0d3351;
  text-decoration: none;
  color: black;
}
.main_menu .phone {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #0d3351;
  text-decoration: none;
}
.main_menu .text {
  font-size: 10px;
  color: #0d3351;
  margin: 0;
}

/* Main menu */


/* Main-slide */
.main_slide {
  position: relative;
  margin: 45px 0 0px 0;
  text-align: center;
}
.main_slide h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 36px;
}
.main_slide p {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 100px;
  text-transform: uppercase;
  margin-top: 60px;
}
.main_slide button {
  text-decoration: none;
  border: 1px solid #33c7fd;
  color: white;
  background-color: #33c7fd;
  padding: 20px 50px 20px 50px;
  margin-top: 60px;
  margin-bottom: 195px;
}
.main_slide button:hover {
  background-color: #2a9ec8;
}

/* Figure */
.figure_btn {
  position: relative;
}
.figure img {
  position: absolute;
  top: 0%;
  left: 48%;
  transform: translateX(50%);
  transform: translateY(50%);
}

/******************* Cruise catalog *******************/
#cruise_catalog {
  background-color: #f3f3f3;
}
/* Catalog header */ 
.catalog_header {
  text-align: center;
  padding-top: 95px;
  padding-bottom: 45px;
}
.catalog_header h2 {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 36px;
  color: #0d3351;
}
.catalog_header li {
  list-style-type: none;
}
.catalog_header a {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  color: #0d3351;
}

/* Catalog items */ 
.catalog_items {
  display: grid;
  justify-content: center;
  grid-template-areas: 
  "block-1 block-2"
  "block-1 block-3"
  "block-4 block-5";
  grid-gap: 20px 30px;
}
.catalog_item_1 {
  grid-area: block-1;
}
.catalog_item_2 {
  grid-area: block-2;
}
.catalog_item_3 {
  grid-area: block-3;
}
.catalog_item_4 {
  grid-area: block-4;
}
.catalog_item_5 {
  grid-area: block-5;
}
.catalog_color {
  background-color: white;
}
.catalog_item a {
  cursor: pointer;
}
.catalog_text {
  padding: 15px 35px 20px 35px;
}
.catalog_text h3 {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 18px;
  color: #33c7fd;
}
.catalog_text span {
  font-size: 10px;
}
.catalog_text p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #0d3351;
}
.catalog_text .new_price {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 30px;
  color: #0d3351;
  padding-right: 30px;
}
.catalog_text .old_price {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 18px;
  color: #c7cbd0;
  text-decoration: line-through;
}
.catalog_btn {
  text-align: center;
}
.catalog_btn button {
  display: none;
  text-decoration: none;
  border: 1px solid #33c7fd;
  color: white;
  background-color: #33c7fd;
  padding: 15px 40px 15px 40px;
  margin-top: 25px;
  margin-bottom: 62px;
}
.catalog_btn .active {
  display: inline-block;
}
.catalog_btn button:hover {
  background-color: #2a9ec8;
}
.catalog_btn button span {
  font-size: 6px;
}
.srcshot_1, .srcshot_2, .srcshot_3 {
  position: relative;
  text-align: center;
}
.srcshot_1::before, .srcshot_2::before, .srcshot_3::before {
  position: absolute;
  top: -1%;
  left: 85%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 12px;
}
.srcshot_1::before {
  content: 'ХИТ\0aПРОДАЖ';
  white-space: pre;
  background-image: url(../img/flag-blue.png);
  padding: 35px 4px 0px 4px;
  height: 66px;
  width: 81px;
}
.srcshot_2::before {
  content: 'АКЦИЯ';
  background-image: url(../img/flag-red.png);
  padding: 35px 4px 0px 4px;
  height: 66px;
  width: 81px;
  top: -3%;
}
.srcshot_3::before {
  content: 'СКИДКА 10%';
  background-image: url(../img/flag-red.png);
  padding: 35px 4px 0px 4px;
  height: 66px;
  width: 81px;
  top: -3%;
}

/******************* Footer *******************/
/* Footer menu */ 
footer {
  background: white;
  padding-bottom: 40px;
  text-align: left;
}
.footer_items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
}
.footer_block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 877px;
  padding: 0 15px 0 15px;
}
.footer_menu, .footer_contacts, .footer_copyright {
  margin-top: 30px;
}
.footer_menu ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}
.footer_menu li {
  list-style-type: none;
}
.footer_menu a {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  color: #1d415d;
  display: block;
  white-space: nowrap;
}
.footer_menu a:hover {
  color: #397cb0;
}

/* Footer contacts */
.footer_contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer_contacts_links {
  display: flex;
  flex-direction: row;
}
.footer_contacts p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #1d415d;
}
.footer_contacts .circle {
  position: relative;
  width: 25px; height: 25px;
  background: #0d3351;
  border-radius: 50%;
}
.footer_contacts a {
  margin-right: 5px;
}
.footer_contacts a:last-child {
  margin-right: 0;
}
.footer_contacts a span {
  position: absolute;
  left: 5.5px;
  top: 5px;
  color: white;
}

/* Footer copyright */
.footer_copyright {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer_copyright a:hover {
  color: #397cb0;
}
.footer_copyright a {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  color: #1d415d;
}
.footer_copyright p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #1d415d;
}
.footer_copyright p:last-child {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #1d415d;
  margin: 0;
}

/******************* Media *******************/
@media (max-width: 1200px) {
  .main_slide h1 {
    font-size: 26px;
  }
  .main_slide p {
    font-size: 72px;
  }
  .figure img {
    left: 47%;
  }
  .catalog_items {
    grid-template-areas: 
    "block-1 block-2"
    "block-3 block-4";
  }
  .catalog_items img {
    height: auto;
    width: 100%;
  }
  .catalog_item_5 {
    display: none;
  }
  .catalog_item_1, .catalog_item_2, .catalog_item_3, .catalog_item_4, .catalog_item_5 {
    max-width: 345px;
  }
  .add_marg p:last-child {
    padding-top: 19px;
  }
  .footer_items {
    max-width: 750px;
  }
  .footer_block {
    width: 530px;
  }
}
@media (max-width: 768px) {
  .horizontal_menu {
    display: none;
  }
  .main_slide h1 {
    font-size: 20px;
  }
  .main_slide p {
    font-size: 50px;
  }
  .figure img {
    left: 45%;
  }
  .catalog_items {
    grid-template-areas: 
    "block-1"
    "block-2"
    "block-3"
    "block-4";
  }
  .footer_items {
    justify-content: center;
    width: auto;
  }
  .footer_block {
    flex-direction: column;
    width: auto;
  }
  .footer_contacts {
    align-items: center;
  }
  .footer_contacts, .footer_copyright {
    text-align: center;
  }
  .footer_menu {
    display: none;
  }
}